.detail-page-container {
    padding: 60px 20px;
    max-width: 900px;
    margin: 0 auto;
}

.back-button {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 16px;
    color: var(--primary-red);
    text-decoration: none;
    transition: color 0.3s;
}

.back-button:hover {
    color: var(--white);
}

.tournament-detail-header {
    text-align: center;
    margin-bottom: 40px;
}

.tournament-detail-header h1 {
    font-size: 48px;
}